<% include partials/header %>

<h1>Movie Watchlist</h1>
	<div class="ui main text container segment">
		<div class="ui grid">
		<% movies.forEach(function(movie){ %>
			<div class="four wide column">
				<h1><%= movie.title %></h1>
				<span>Raiting: <%= movie.raiting %></span>
				<p><%= movie.description.substring(0, 50) %></p>
				<div>
					<span><%= movie.myraiting %></span>
					<p>Notes <i><%= movie.review %></i></p>
				</div>
			</div>
			<% }) %>
		</div>
	</div>


<% include partials/footer %>