<% include partials/header %>

<h1>Movie Watchlist</h1>

<% movies.forEach(function(movie){ %>
	<div class="ui main text container segment">
		<h1><%= movie.title %></h1>
		<span><%= movie.raiting %></span>
		<p><<%= movie.description %></p>
		<br>
		<div>
			<span><%= movie.myraiting %></span>
			<p><%= movie.review %></p>
		</div>
	</div>
	<% }) %>


<% include partials/footer %>